.login_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.login_box input{
  box-sizing: border-box;
  /* width: 100%; */
  
  height: 55px;
  margin: 5px 15px;
  text-indent: 20px;
  border:none;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.login_box .login_btn{
  box-sizing: border-box;
  width: 60%;
  height: 40px;
  color: #fff;
  font-size: 20px;
  font-family: '楷体';
  background-color: #e54847;
  border-radius: 5px;
  border:none;
  margin: 20px auto;
}
.to_register_bar{
  display: flex;
  margin: 0px 10px;
  font-size: 12px;
  justify-content: space-between;
}
.to_register_bar a{
  text-decoration: none;
  color: #e54847;
}